<div id="login">
    <div class="logo u-flex u-flexJustifyAround">
        <h1>X</h1>
        <h1>P</h1>
        <h1>N</h1>
        <h1>S</h1>
    </div>
    <h3>Reimbursement made simple.</h3>


    <div class="formStyle">
        <form name="userLogin">
            <div class="form-wrap">
                <h2>Welcome back! Sign in here.</h2>

                <input type="text" name="username" placeholder="Username" ng-model="login.username"
                       ng-required="true"/>

                <input type="password" name="loginPsw" placeholder="Password" ng-model="login.password"
                       ng-required="true"/>

                <p class="error" ng-show="userLogin.loginPsw.$invalid && userLogin.loginPsw.$touched">Please check your
                    username/password and try again.</p>


                <div>
                    <input type="submit" value="Sign In" ng-click="demoLogin()"/>
                </div>

            </div>
        </form>
    </div>

</div>
